:root {
  --dcol-mode: dark;

  /* primary 1 */
  --dcol-pry1: #0B0E14;
  --dcol-pry1-rgba: rgba(11, 14, 20, 1);
  --dcol-txt1: #BFBDB6;
  --dcol-txt1-rgba: rgba(191, 189, 182, 1);
  --dcol-1xa1: #131721;
  --dcol-1xa1-rgba: rgba(19, 23, 33, 1);
  --dcol-1xa2: #11151C;
  --dcol-1xa2-rgba: rgba(17, 21, 28, 1);
  --dcol-1xa3: #0F131A;
  --dcol-1xa3-rgba: rgba(15, 19, 26, 1);
  --dcol-1xa4: #0D1017;
  --dcol-1xa4-rgba: rgba(13, 16, 23, 1);
  --dcol-1xa5: #0B0E14;
  --dcol-1xa5-rgba: rgba(11, 14, 20, 1);
  --dcol-1xa6: #565B66;
  --dcol-1xa6-rgba: rgba(86, 91, 102, 1);
  --dcol-1xa7: #71B8FF;
  --dcol-1xa7-rgba: rgba(113, 184, 255, 1);
  --dcol-1xa8: #E6B450;
  --dcol-1xa8-rgba: rgba(230, 180, 80, 1);
  --dcol-1xa9: #BFBDB6;
  --dcol-1xa9-rgba: rgba(191, 189, 182, 1);

  /* primary 2 */
  --dcol-pry2: #0D1017;
  --dcol-pry2-rgba: rgba(13, 16, 23, 1);
  --dcol-txt2: #BFBDB6;
  --dcol-txt2-rgba: rgba(191, 189, 182, 1);
  --dcol-2xa1: #131721;
  --dcol-2xa1-rgba: rgba(19, 23, 33, 1);
  --dcol-2xa2: #11151C;
  --dcol-2xa2-rgba: rgba(17, 21, 28, 1);
  --dcol-2xa3: #0F131A;
  --dcol-2xa3-rgba: rgba(15, 19, 26, 1);
  --dcol-2xa4: #0D1017;
  --dcol-2xa4-rgba: rgba(13, 16, 23, 1);
  --dcol-2xa5: #0B0E14;
  --dcol-2xa5-rgba: rgba(11, 14, 20, 1);
  --dcol-2xa6: #565B66;
  --dcol-2xa6-rgba: rgba(86, 91, 102, 1);
  --dcol-2xa7: #71B8FF;
  --dcol-2xa7-rgba: rgba(113, 184, 255, 1);
  --dcol-2xa8: #E6B450;
  --dcol-2xa8-rgba: rgba(230, 180, 80, 1);
  --dcol-2xa9: #BFBDB6;
  --dcol-2xa9-rgba: rgba(191, 189, 182, 1);

  /* primary 3 */
  --dcol-pry3: #0F131A;
  --dcol-pry3-rgba: rgba(15, 19, 26, 1);
  --dcol-txt3: #BFBDB6;
  --dcol-txt3-rgba: rgba(191, 189, 182, 1);
  --dcol-3xa1: #131721;
  --dcol-3xa1-rgba: rgba(19, 23, 33, 1);
  --dcol-3xa2: #11151C;
  --dcol-3xa2-rgba: rgba(17, 21, 28, 1);
  --dcol-3xa3: #0F131A;
  --dcol-3xa3-rgba: rgba(15, 19, 26, 1);
  --dcol-3xa4: #0D1017;
  --dcol-3xa4-rgba: rgba(13, 16, 23, 1);
  --dcol-3xa5: #0B0E14;
  --dcol-3xa5-rgba: rgba(11, 14, 20, 1);
  --dcol-3xa6: #565B66;
  --dcol-3xa6-rgba: rgba(86, 91, 102, 1);
  --dcol-3xa7: #71B8FF;
  --dcol-3xa7-rgba: rgba(113, 184, 255, 1);
  --dcol-3xa8: #E6B450;
  --dcol-3xa8-rgba: rgba(230, 180, 80, 1);
  --dcol-3xa9: #BFBDB6;
  --dcol-3xa9-rgba: rgba(191, 189, 182, 1);

  /* primary 4 */
  --dcol-pry4: #E6B450;
  --dcol-pry4-rgba: rgba(230, 180, 80, 1);
  --dcol-txt4: #0D0E10;
  --dcol-txt4-rgba: rgba(13, 14, 16, 1);
  --dcol-4xa1: #131721;
  --dcol-4xa1-rgba: rgba(19, 23, 33, 1);
  --dcol-4xa2: #11151C;
  --dcol-4xa2-rgba: rgba(17, 21, 28, 1);
  --dcol-4xa3: #0F131A;
  --dcol-4xa3-rgba: rgba(15, 19, 26, 1);
  --dcol-4xa4: #0D1017;
  --dcol-4xa4-rgba: rgba(13, 16, 23, 1);
  --dcol-4xa5: #0B0E14;
  --dcol-4xa5-rgba: rgba(11, 14, 20, 1);
  --dcol-4xa6: #565B66;
  --dcol-4xa6-rgba: rgba(86, 91, 102, 1);
  --dcol-4xa7: #71B8FF;
  --dcol-4xa7-rgba: rgba(113, 184, 255, 1);
  --dcol-4xa8: #E6B450;
  --dcol-4xa8-rgba: rgba(230, 180, 80, 1);
  --dcol-4xa9: #BFBDB6;
  --dcol-4xa9-rgba: rgba(191, 189, 182, 1);
}